{% extends 'base.html' %}

{% block body %}
<div style="margin-left: 250px; padding: 22px;">


  <div class="card" style = "margin: 70px;">
   
    <div class="card-body">
      <a href="https://github.com/dinesh-kc/zenithpms/raw/main/~%24file_format.xlsx">==>View Format</a>
    <h2 style "text-align: center"> Automate the Medicine  </h2>
  
      <form method="post" enctype="multipart/form-data" >
      {% csrf_token %}
      <input type="file" name="excel_file">
          <button type="submit">Upload</button>
          </form>
          </div>
          {}
    {% comment %} <div class="form-group">
      <label for="exampleInputEmail1">Provide a proper file path: </label><br>
  <input type="file" id="myfile" name="excel_file" class="btn btn-danger">  </div>
    </div>
  </form>
  
    <button type="submit" class="btn btn-danger" style = "width: 150px; margin-left: 150px; margin-top: -7px;">Automate</button>
      <br>
      <button type="submit" class="btn btn-danger" style = "width: 150px; margin-left: 350px; margin-top: -62px;">Cancel</button>
  
    <br> {% endcomment %}
  
    Instructions:<br>
  <ul>
    <li>Please provide the correct path in the text field</li>
    <li>Click Automate for importing the file.</li>
    <li>Please, go to manage medicine and see the imported medicines over there</li>
  </ul>
  
   
  </div>
  

{% endblock %}