{% extends 'base.html' %}

{% block body %}



<div style="margin-left: 260px; padding: 22px;">


<div class="form-group" style = "width: 250px; margin: 10px;">
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Search by Name">
  </div>
        <button type="button" class="btn btn-danger" style= "margin-left: 280px; margin-top: -85px; width: 120px;" >Search</button>



<div class="form-group" style = "width: 250px; margin-left: 430px; margin-top: -70px;">
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Search by Exp.Date">
  </div>
        <button type="button" class="btn btn-danger" style= "margin-left: 700px; margin-top: -100px; width: 120px;" >Search</button>

<div class="card" style = "margin: 12px; margin-top: -15px;">
  <div class="card-header thead-light">
    User Details
  </div>
  <div class="card-body">
   

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Pranish Katwal</td>
      <td>Admin</td>
      <td>9815332185</td>
      <td>
      <a href = "#" class = "btn btn-danger"> Update </a>
      <a href = "#" class = "btn btn-danger" style = "margin-left: 60px; margin-top: -2px;"> Delete </a>

      </td>

    </tr>
     <tr>
      <th scope="row">1</th>
      <td>Pranish Katwal</td>
      <td>Admin</td>
      <td>9815332185</td>
      <td>
      <a href = "#" class = "btn btn-danger"> Update </a>
      <a href = "#" class = "btn btn-danger" style = "margin-left: 60px; margin-top: -2px;"> Delete </a>

      </td>

    </tr>

   <tr>
      <th scope="row">1</th>
      <td>Pranish Katwal</td>
      <td>Admin</td>
      <td>9815332185</td>
      <td>
      <a href = "#" class = "btn btn-danger"> Update </a>
      <a href = "#" class = "btn btn-danger" style = "margin-left: 60px; margin-top: -2px;"> Delete </a>

      </td>

    </tr>


    
  </tbody>
</table>



  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Medicine Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

<form action = "" method = "POST">

  <div class="form-group">
    <label for="exampleInputEmail1">Medicine_Name</label>
    <input type="text" class="form-control" id="medicineName" name = "med_name" placeholder="Calcamax">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input type="password" class="form-control" id="Price" name = "price" placeholder="Rs.150">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Selling Price</label>
    <input type="text" class="form-control" id="SP" name = "selling_price" placeholder="Rs. 170">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Expiry Date</label>
    <input type="text" class="form-control" id="Expirydate"  name = "expiry_date" placeholder="2022/12/2">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Supplier</label>
    <input type="text" class="form-control" id="Supplier" name = "supplier" placeholder="Chaulagai Pharma, Brt">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Bought Date</label>
    <input type="text" class="form-control" id="Boughtdate" name = "bought_date"  placeholder="2021/2/2">
  </div>
  
   <div class="form-group">
    <label for="exampleInputEmail1">Time Table</label>
    <input type="text" class="form-control" id="TT" name = "timte_table" placeholder="Morning/Evening">
  </div>

</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</div>
  <!-- /.navbar -->


{% endblock %}



